<header class="header">
  <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onSelect('recipes')">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
          </li>
          <li
            class="nav-item dropdown"
          >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              appDropdown
            >
              Manage
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Save data</a>
              <a class="dropdown-item" href="#">Fetch data</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
