<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col">
        <h1>{{ recipe.name }}</h1>
        <br>
        <button type="button" appDropdown class="btn btn-info mb-2">
          Manage recipe
        </button>
        <div class="dropdown-menu ml-3">
          <li class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</li>
          <li class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</li>
          <li class="dropdown-item">Delete Recipe</li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="recipe-image rounded img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 mt-3">
    <p class="description">
      {{ recipe.description }}
    </p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-sm-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
