<div class="row">
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
        >
      </div>
      <div>
        <button type="button" class="btn btn-primary mr-3">Sign Up</button>
        <button type="button" class="btn btn-info">Switch to LogIn</button>
      </div>
    </form>
  </div>
</div>
