<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group mt-4">
      <li
        *ngFor="let recipe of recipes"
        class="list-group-item"
      >
        <a href="#" class="text-decoration-none text-dark">
          <div class="row">
            <div class="col-8">
              <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
              <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
            <div class="col-4">
              <img [src]="recipe.imagePath" alt="" class="img-responsive">
            </div>
          </div>
        </a>
      </li>
    </ul>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
